<h3><%= @the_product.title %></h3>
<p><%= @the_product.description %></p>
<p>Bidding Deadline: <%= @the_product.bidding %></p>
<br>
<h4>Bid on this product:</h4>

<%=  form_for [@the_product, @the_bid] do |f| %>
	<%= f.label :value %>
	<%=f.number_field :value, :step => 'any' %>
	<%= f.button %>
<% end %>

<%= link_to 'Return to products\'s page', products_path %>